<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.device.mapper.DeviceMapper">
    <select id="selectDevicePage" resultType="com.example.device.entity.Device">
        SELECT * FROM sys_device
        <where>
            <if test="query.deviceCode != null and query.deviceCode != ''">
                AND device_code LIKE CONCAT('%', #{query.deviceCode}, '%')
            </if>
            <if test="query.deviceName != null and query.deviceName != ''">
                AND device_name LIKE CONCAT('%', #{query.deviceName}, '%')
            </if>
            <if test="query.category != null and query.category != ''">
                AND category LIKE CONCAT('%', #{query.category}, '%')
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
        </where>
    </select>
</mapper> 